/* dashboard styles */
.activity-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.05);
}

.activity-item:last-child {
    border-bottom: none;
}

.dashboard-chart-container {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}