/* landing page styles */
.landing-hero {
    background: linear-gradient(180deg, #ffffff, #f3f4f6);
}

.hero-image {
    max-width: 850px;
    border-radius: 20px;
    box-shadow: var(--shadow-md);
}